* {
    box-sizing: border-box;
    /* border: 0.1px solid black;     */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    transition: 0.4s;
    width: 37%;
    position: fixed;
    top: 0px;
    left: 31.5%;
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

nav {
    margin-top: 35px;
    transition: 0.4s;
}

nav li {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 10px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

nav li a:hover {
    color: #008CBA;
}

nav li a:active {
    color: #008CBA;
}

#sec1 {
    background-image: url('../images/wolf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 647px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 647px;
    background-color: rgba(0, 0, 0, 0.5);
}

.intro {
    position: relative;
    top: 140px;
    color: #fff;
    text-align: center;
}

.intro h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin-top: 10px;
    margin-bottom: 0px;
    opacity: 0;
    position: relative;
    bottom:-50px;
    animation: animate-bottom 1.5s forwards;
    animation-delay: 1.7s;
}

.intro h2 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0px;
}

.hello {
    opacity: 0;
    position: relative;
    top:-70px;
    animation: animate-top 1.5s forwards;
    animation-delay: .2s;
}

#soft {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 400;
    opacity: 0;
    position: relative;
    bottom:-50px;
    animation: animate-bottom 1.5s forwards;
    animation-delay: 3.2s;
}

.intro a {
    opacity: 0;
    position: relative;
    bottom:-50px;
    animation: animate-bottom 1.5s forwards;
    animation-delay: 4.2s;
}

@keyframes animate-top {
    100% { top:0; opacity:1 }
}


#type {
    text-decoration: underline;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 35px;
	background-color: #fff;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #fff; 
	}
}

.fa-arrow-down {
    color: #fff;
    margin-top: 40px;
}

#sec2 {
    width: 100%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 550px;
    grid-gap: 3%;
    padding: 20px 10px;
}

#sec2 img {
    height: 500px;
    width: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#prof {
    opacity: 0;
}

@keyframes fade-in {
    100% { opacity:1 }
}

#prof.animate {
    animation: fade-in 2s forwards;
    animation-delay: .2s;
}

.ab {
    margin-bottom: 15px;
    font-size: 10px;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}

#sec2 h2 {
    font-size: 18px;
    margin-bottom: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
}

.about {
    padding-top: 50px;
}

#sec2 p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.6);
}

#ab-cont {
    position: relative;
    opacity: 0;
    left:-70px;
}

@keyframes animate-left {
    100% { left:0; opacity:1 }
}

#ab-cont.animate {
    animation: animate-left 1.5s forwards;
    animation-delay: 1.2s;
}

#skill1 {
    position: relative;
    opacity: 0;
    left:-40px;
}

@keyframes animate-left1 {
    100% { left:0; opacity:1 }
}

#skill1.animate {
    animation: animate-left1 1s forwards;
    animation-delay: 2s;
}

#skill2 {
    position: relative;
    opacity: 0;
    right:-40px;
}

@keyframes animate-right {
    100% { right:0; opacity:1 }
}

#skill2.animate {
    animation: animate-right 1s forwards;
    animation-delay: 2.3s;
}

#skill3 {
    position: relative;
    opacity: 0;
    bottom:-40px;
}

@keyframes animate-bottom {
    100% { bottom:0; opacity:1 }
}

#skill3.animate {
    animation: animate-bottom 1s forwards;
    animation-delay: 2.7s;
}

#skill4 {
    position: relative;
    opacity: 0;
    bottom:-40px;
}

#skill4.animate {
    animation: animate-bottom 1s forwards;
    animation-delay: 2.9s;
}

.skills {
    width: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-gap: 4%;
    padding: 20px 10px;
} 

.skills div {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

.skills h3 {
    padding-left: 15px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.skills i {
    margin-left: 20px;
    margin-top: 25px;
}

hr {
    position: relative;
    bottom: 3px;
    width: 20%;
    transition: 0.4s;
}

.skills div:hover > hr {
    width: 92%;
}

#sec3 {
    margin-top: 80px;
    margin-bottom: 80px;
}

#sec3 h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 1.5em;
}

#fea {
    position: relative;
    opacity: 0;
    bottom:-60px;
}

#fea.animate {
    animation: animate-bottom 1.3s forwards;
    animation-delay: .2s;
}

#sec3 ul {
    text-align: center;
    width: 97.5%;
    margin-bottom: 4em;
}

#fil {
    opacity: 0;
}

#fil.animate {
    animation: fade-in 2s forwards;
    animation-delay: 1s;
}

#sec3 li{
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: 300;
}

#fil a {
    color: #000;
    text-decoration: none;
}

#fil a:hover {
    color: #008CBA;
}

.gallery {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    margin: 0 auto;
    grid-gap: 30px;
    border-radius: 25px;
}

#cre {
    background-image: url('../images/card.jpg');
    animation-delay: 1.6s;
    
}


#mess {
    background-image: url('../images/message.jpg');
    animation-delay: 2.6s;
}


#jam {
    background-image: url('../images/spotify.jpg');
    animation-delay: 3.6s;
}

.pro {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    bottom:-50px;
}

.pro.animate {
    animation: animate-bottom 1.2s forwards;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 25px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
  
.pro:hover .overlay {
    opacity: 0.7;
}
  
.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text a {
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.text a:visited {
    color: #fff;
}

.text a:active {
    color: rgb(208, 207, 207);
}

.text h4 {
      font-size: 16px;
      font-weight: 300;
}

#sec4 {
    margin-top: 120px;
}

#sec4 h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 1.5em;
}

#get {
    position: relative;
    opacity: 0;
    bottom:-60px;
}

#get.animate {
    animation: animate-bottom 1.3s forwards;
    animation-delay: .2s;
}

.contact {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 550px;
    grid-gap: 6%;
    padding: 20px 10px;
}

#cont {
    position: relative;
    opacity: 0;
    left:-70px;
}

#cont.animate {
    animation: animate-left 1.5s forwards;
    animation-delay: .5s;
}

.contact h3 {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 3rem;
}

.contact h4 {
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 10px;
    font-size: 12px;
    color: #008CBA;
}

.contact p {
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 27.2px;
}

.detail {
    position: relative;
    opacity: 0;
    right:-40px;
}

.detail.animate {
    animation: animate-right 1s forwards;
}

#det {
    animation-delay: .5s;
}

#det1 {
    animation-delay: .8s;
}

#det2 {
    animation-delay: 1s;
}

#det3 {
    animation-delay: 1.3s;
}

input[type=text], [type=textarea] {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

button {
    width: 22%;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    background-color: #008CBA;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .1rem;
    white-space: nowrap;
}

button:hover {
    background-color: #00739a;
}

#message {
    padding-bottom: 130px;
}

.fa-envelope, .fa-phone, .fa-address-book {
    margin-right: 5px;
}

footer {
    margin-top: 80px;
    text-align: center;
    background-color: #008CBA;
    color: #fff;
    height: 200px;
    padding: 25px ;
}

footer ul {
    margin-top: 40px;
}

footer li {
    display: inline-block;
    padding: 20px 20px;
    background-color: #2692b6;
    border-radius: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.tou {
    position: relative;
    opacity: 0;
    bottom:-30px;
}

#copyright {
    opacity: 0;
}

#copyright.animate {
    animation: fade-in 2s forwards;
}

.tou.animate {
    animation: animate-bottom 1.3s forwards;
}

#tou1 {
    animation-delay: .5s;
}

#tou2 {
    animation-delay: .8s;
}

#tou3 {
    animation-delay: 1.1s;
}

#tou4 {
    animation-delay: 1.4s;
}

#tou5 {
    animation-delay: 1.7s;
}


@media (max-width:990px) and (min-width:630px) {
    header {
        width: 55%;
        left: 23%;
    }
}


@media only screen and (max-width:620px) {
    /* For mobile phones: */
    header {
        width: 100%;
        left: 0%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    nav {
        margin-top: 35px;
        transition: 0.4s;
    }
    
    nav li {
        padding: 5px 10px;
        margin-left: 5px;
    }

    .intro h1 {
        font-size: 35px;
    }
    
    .intro h2 {
        font-size: 35px;
    }

    #soft {
        font-size: 25px;
    }

    #sec2 {
        grid-template-columns: 100%;
        grid-template-rows: 400px 550px;
        grid-gap: 0%;
        padding: 20px 10px;
    }

    #sec2 img {
        height: 350px;
        width: 95%;
    }

    .about {
        padding-top: 0px;
        text-align: center;
    }

    .skills {
        width: 85%;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 100px 100px;
        grid-gap: 6%;
        margin-left: auto;
        margin-right: auto;
    } 

    .skills i {
        margin-left: 0px;
    }

    .skills h3 {
        padding-left: 0px;
    }

    .gallery {
        grid-template-columns: 100%;
        grid-template-rows: 300px 300px 300px;
    }

    .contact {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 550px 550px;
        grid-gap: 6%;
        padding: 20px 10px;
    }
    button {
        width: 46%;
    }

    .detail {
        right:-20px;
    }

    footer {
        height: 270px;
    }
}